@import "../../scss/vars";
@import "../../scss/mixins";
.dex-info-container {
  padding-right: 15px;
  width: 500px;
  height: 700px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  border-bottom-right-radius: 0;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;

  .dex-info-top-frame {
    height: 80px;
    width: 100%;

    .dex-info-left {
      width: 38%;
      height: 98px;
      border-bottom-right-radius: 76px;
      border-top-left-radius: 25px;
      box-shadow: -5px -5px 0px -1px $shadow-base inset,
        5px 5px 5px -3px rgba(255, 255, 255, 0.51) inset;
      position: absolute;
      z-index: 1;
      background-color: $base-red;
      background-image:url("../../assets/red-metal.jpg");

      .lens {
        position: absolute;
        background: radial-gradient($turquoise, $dark-turquoise);
        border-radius: 50px;
        border-style: solid;
        border-color: #fff;
        border-width: 5px;
        box-shadow: 0px 0px 6px 4px darken($base-red, 20%);
        width: 50px;
        height: 50px;
        left: 25px;
        top: 15px;
      }
    }
  }

  .dex-info-right {
    width: calc(65% - 2px);
    height: 57px;
    right: 0;
    border-top-right-radius: 25px;
    background-color: $base-red;
    background-image:url("../../assets/red-metal.jpg");
    box-shadow: 0px -5px 0px -1px $shadow-base inset,
      0px 5px 5px -3px rgba(255, 255, 255, 0.51) inset;
    position: absolute;
    z-index: 2;
  }

  .indicators {
    position: absolute;
    top: 15px;
    left: 90px;
    .btn-red {
      @include indicator(#e93a3a, 15px);
    }

    .btn-green {
      @include indicator(#0ec518, 15px);
    }

    .btn-yellow {
      @include indicator(#ffc334, 15px);
    }
  }

  .test {
    background: linear-gradient(#2D77F9, #0530E5);
    z-index: 100;
    border-radius: 4px;
    box-shadow: -1px 1px 0px 2px #032b70;
    cursor: pointer;
  }

  .input-wrap {
    width: 100%;
    margin: 42px 24px 24px 24px;
    .search-btn {
      background: linear-gradient(#2D77F9, #0530E5);
      box-shadow: -1px 1px 0px 2px #032b70;
      cursor: pointer;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: inline-block;
      line-height: 30px;
      padding: 0 10px;
      color: #fff;
      text-shadow: 0px 0px 2px #000;
    }

    .search-input {
      line-height: 30px;
      padding: 0 7px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: calc(100% - 101px);
    }
  }

  .left-nav {
    text-align: center;

    .key {
      padding: 10 24px;
      display: inline-block;
    }
  }

}