$base-red: #d90624;
$shadow-base: rgba(167, 5, 28, 0.9);
$shadow-color: rgba($shadow-base, 0.7);
$turquoise: #a9e9f7;
$dark-turquoise: #1dc6ec;
$blue: #2D77F9;
$dark-blue: #0530E5;
$case-shadow:  0px 0px 0px 3px $shadow-base inset;